---
import type { CollectionEntry } from 'astro:content'
import PostCard from '@/components/PostCard'
import { cn } from '@/utils'

type Props = {
	posts: CollectionEntry<'blog'>[]
	FirstBig?: boolean
}

const { posts, FirstBig = false } = Astro.props
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}
>
	{
		posts.map(async (post) => {
			const { remarkPluginFrontmatter } = await post.render()

			return (
				<PostCard
					id={post.id}
					data={post.data}
					slug={post.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			)
		})
	}
</section>
<!-- <section class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3'>
	<div class='swiper-container'>
		<div class='swiper'>
			<div class='swiper-wrapper'>
				<div class='swiper-slide'>Slide 1</div>
				<div class='swiper-slide'>Slide 2</div>
				<div class='swiper-slide'>Slide 3</div>
			</div>
			<div class='swiper-pagination'></div>
			<div class='swiper-button-prev'></div>
			<div class='swiper-button-next'></div>
			<div class='swiper-scrollbar'></div>
		</div>
	</div>
</section> -->

<style>
	.swiper-container {
		height: 100%;
		max-height: 100vw;
		min-height: 0;
		min-width: 0;
		max-width: 100vw;
		width: 100%;
		overflow: hidden;
	}

	.swiper-slide {
		width: auto;
		flex-shrink: 0;
		display: block;
		height: 100%;
		max-height: 100%;
	}

	.swiper-wrapper {
		max-height: 100%;
		height: 100%t;
		display: flex;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>

<script>
	import Swiper from 'swiper'
	import { Navigation, Pagination } from 'swiper/modules'
	import 'swiper/css'
	import 'swiper/css/navigation'
	import 'swiper/css/pagination'

	document.addEventListener('DOMContentLoaded', function () {
		const swiper = new Swiper('.swiper', {
			modules: [Navigation, Pagination],
			// loop: false,
			spaceBetween: 10,
			slidesPerView: 1,
			freeMode: true,
			watchSlidesProgress: true,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev'
			}
			// lazy: true,
		})
	})
</script>
