---
import type { CollectionEntry } from 'astro:content'
import SliderItem from '@/components/SliderItem'
import { cn } from '@/utils'

type Props = {
	posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<section class='container'>
	<div class='swiper-container'>
		<div class='swiper'>
			<div class='swiper-wrapper'>
				{
					posts.map(async (post) => {
						const { remarkPluginFrontmatter } = await post.render()

						return (
							<SliderItem
								id={post.id}
								data={post.data}
								slug={post.slug}
								readTime={remarkPluginFrontmatter.minutesRead}
							/>
						)
					})
				}
			</div>
			<div class='swiper-pagination'></div>
			<div class='swiper-button-prev'></div>
			<div class='swiper-button-next'></div>
			<div class='swiper-scrollbar'></div>
		</div>
	</div>
</section>

<script>
	import Swiper from 'swiper'
	import { Navigation, Pagination } from 'swiper/modules'
	import 'swiper/css'
	import 'swiper/css/navigation'
	import 'swiper/css/pagination'

	document.addEventListener('DOMContentLoaded', function () {
		const swiper = new Swiper('.swiper', {
			modules: [Navigation, Pagination],
			// loop: false,
			spaceBetween: 10,
			slidesPerView: 1,
			freeMode: true,
			watchSlidesProgress: true,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev'
			}
			// lazy: true,
		})
	})
</script>
